html {
   width: 100vw;
   font-size: 10px;
}

body {
   background-color: var(--lg);
   width: 100vw;
   height: auto;
   margin: 0;
   padding: 0;
   background-image: url(../img/kenrick-mills-D_q7kki5ong-unsplash.jpg);
   background-size: cover;
   background-position: center top;
   background-repeat: no-repeat;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   justify-content: center;

}


/* FONTS and SIZES
*************************************************/
/* font-family: 'Aleo', serif;
font-family: 'Aleo-Bold', serif;
font-family: 'Josefin Sans Italic', sans-serif;
font-family: 'Josefin Sans Bold Italic', sans-serif; */



h1 {
   font-family: 'Aleo Bold', serif;
}

h2 {
   font-family: 'Aleo', serif;
}

h4 {
   font-family: 'Josefin Sans Italic', serif;
}

h5 {
   font-family: 'Josefin Sans Bold Italic', serif;
}

h6 {
   font-family: 'Josefin Sans Italic', serif;
}

p, a {
   font-family: 'Aleo', serif;
}

h1 { font-size: 3rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.25rem; }

/* h5 { font-size: 1.5rem; }

h6 { font-size: 1.25rem; } */

a, p { font-size: 1.25rem;
       text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
   text-align: center;
   line-height: 1.2;
   letter-spacing: 0.15rem;
}


/* HEADER | NAV
*************************************************/
#nav-header {
   width: 100%;
   background: linear-gradient(100deg, rgba(255, 255, 255, 1) 60%, rgba(131, 131, 131, 0) 60.5%),
   linear-gradient(100deg, rgba(131, 131, 131, 1) 60.5%, var(--or) 60.5%);
   padding: 2rem;
   display: grid;
   grid-template-columns: 3rem 26rem 1fr;
   justify-items: self-start;
   justify-self: center;
   align-items: center;
   position: fixed;
   margin: 0;
   z-index: 5;
}

#logo-inline img {
   width: 18rem;
}

label {
   cursor: pointer;
   display: block;
}

label i {
   color: var(--db);
   margin-top: -2px;
}

#nav-container-highlight {
   margin-right: 4rem;
   display: grid;
   grid-gap: 0.5rem;
   justify-self: right;
}

#nav-container-highlight a {
   color: white;
   padding: 0.5rem;
   text-align: right;
   justify-self: right;
   border: solid 2px var(--or);
   border-radius: 0.5rem;
   animation: highlight ease-in-out 5s infinite alternate;
}

@keyframes highlight {
   0% {
      background-color: var(--or);
   }
   100% {
      background-color: var(--lo);
   }
}

#nav-container-highlight a:hover {
   animation: nav-hover ease-in-out 0.5s both;
}

@keyframes nav-hover {
   0% {
      border: 2px solid var(--or);
   }
   100% {
      border: 2px solid white;
   }
}

#toggle {
   display: none;
}

#toggle:checked header {
   border: red 5px solid;
}

#toggle:checked + #nav-container-toggle {
   display: grid;
}

#nav-container-toggle {
   background-color: white;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-template-rows: auto;
   justify-content: left;
   grid-gap: 10px;
   padding: 80px 20px 10px 20px;
   margin-top: 2rem;
   position: absolute;
   display: none;
}

#nav-container-toggle a {
   text-align: left;
   color: var(--db);
   font-size: 1.25rem;
   padding: 10px 0;
   margin-right: 30px;
   justify-self: left;
   border-radius: 0.5rem;
}

#nav-container-toggle a:nth-child(10),
#nav-container-toggle a:nth-child(11) {
   border: dotted 1px var(--or);
   padding: 10px;
}


/* MEDIA QUERY - 575px ***************************************/
@media (max-width: 575px) {
   #logo-full {
      display: none;
   }
   
   #nav-container-main {
      display: none;
   }
}


/* MEDIA QUERY - 576px ***************************************/
@media (min-width: 576px) {
   #nav-header {
      background: linear-gradient(100deg, white 73%, rgba(131, 131, 131, 0) 73.5%),
      linear-gradient(100deg, rgba(131, 131, 131, 1) 73.5%, var(--or) 73.5%);
      display: grid;
      grid-template-columns: 2rem 19rem 1fr 15rem;
      justify-items: flex-end;
   }
   
   #logo-inline {
      display: none;
   }

   #logo-full {
      width: 18rem;
   }
   
   #nav-container-main {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-self: right;
      margin-left: 3rem;
      margin-right: 2rem;
   }
   
   #nav-container-main a {
      color: var(--db);
      padding: 0.5rem;
      text-align: left;
      align-self: center;
   }
   
   #nav-container-highlight {
      display: grid;
      grid-template-rows: 1.5rem 1.5rem;
      grid-gap: 2rem;
      align-items: center;
   }
   
   #nav-container-highlight a {
      color: white;
      text-align: right;
   }
   
   #nav-container-toggle {
      margin-top: 4rem;
   }
}


/* MEDIA QUERY - 768px ***************************************/
@media (min-width: 768px) {
   #nav-header-container {
      display: flex;
      justify-content: center;
   }

   
   #nav-header {
      width: 70rem;
      background: linear-gradient(100deg, white 68%, rgba(131, 131, 131, 0) 68.5%),
      linear-gradient(100deg, rgba(131, 131, 131, 1) 68.5%, var(--or) 68.5%);
      grid-template-columns: 2rem 19rem 30rem 23rem;
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
   }

   #nav-container-main {
      grid-template-columns: repeat(2, 10rem);
   }

   #nav-container-main a {
      font-size: 1.1rem;
      text-align: center;
      justify-self: center;
   }

   #nav-container-highlight {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
      grid-gap: 1rem;
      align-items: center;
      margin-right: 3rem;
   }
   
   #nav-container-highlight a {
      margin: 0;
      padding: 1rem;
      font-size: 1.2rem;
   }
   
   #nav-container-toggle {
      grid-template-columns: repeat(4, minmax(21.5rem, 1fr));
      grid-template-rows: repeat(4, 2.5rem);
      grid-gap: 0px;
      margin-top: 4rem;
      padding-bottom: 2rem;
      margin-left: -2rem;
   }
   
   #nav-container-toggle a {
      font-size: 1rem;
      padding: 1rem;
      justify-self: center;
      text-align: center;
   }

   #nav-container-toggle a:nth-child(10),
   #nav-container-toggle a:nth-child(11) {
   border: none;
}
}


/* MEDIA QUERY - 992px ***************************************/
@media (min-width: 992px) {
   #nav-header {
      width: 90rem;
      background: linear-gradient(100deg, white 74%, rgba(131, 131, 131, 0) 74.5%),
      linear-gradient(100deg, rgba(131, 131, 131, 1) 74.5%, var(--or) 74.5%);
      grid-template-columns: 2rem 19rem 48rem 25rem;
      
   }
   
   #nav-container-main {
      grid-template-columns: repeat(5, 8rem);
      grid-template-rows: 1fr;
   }
}


/* MEDIA QUERY - 1200px ***************************************/
@media (min-width: 1200px) {
   #nav-header {
      width: 110rem;
      background: linear-gradient(100deg, white 79%, rgba(131, 131, 131, 0) 79.5%),
      linear-gradient(100deg, rgba(131, 131, 131, 1) 79.5%, var(--or) 79.5%);
      grid-template-columns: 2rem 19rem 69rem 24rem;
   }
}


/* PRESENTATION
*************************************************/
#presentation {
   height: 100vh;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 2fr 1fr;
   /* align-items: flex-start; */
}

#presentation-img {
   background-image: url(/img/cathy-pham-FLQh5dkd4zk-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   width: 100%;
   height: 100vh;
   grid-area: 1 / 1 / 3 / 3;
}

#presentation h2 {
   background-color: rgba(31, 94, 126, 0.7);
   color: white;
   font-size: 1.4rem;
   line-height: 1.5;
   text-align: left;
   padding: 2rem;
   margin-bottom: 1rem;
   position: static;
   bottom: 34rem;
   grid-area: 2 / 1 / 3 / 3;
   align-self: flex-end;
}

/* MEDIA QUERY 
*************************************************/
@media (max-width: 575px) {
   #presentation h2 {
      font-size: 1.25rem;
      grid-area: 3 / 1 / 3 / 3;
      text-align: center;
   }
}

@media (min-width: 768px) {
   #presentation h2 {
      font-size: 1.75rem;
      margin-bottom: 2rem;
   }
}

@media (min-width: 992px) {
   #presentation h2 {
      margin-bottom: 4rem;
   }
}


/* HOME - NEWS
*************************************************/
#home-news {
   background-color: var(--lo);
   display: grid;
   grid-template-rows: repeat(3, auto);
   grid-gap: 4rem;
   padding: 2rem;
   margin-top: 2.5rem;
}

#home-news .home-news-col {
   display: grid;
   grid-template-rows: 35rem auto auto;
   grid-gap: 2rem;
   grid-auto-flow: row;
   align-content: flex-start;
}

#home-news .home-news-col .home-news-img-1,
#home-news .home-news-col .home-news-img-2,
#home-news .home-news-col .home-news-img-3 {
   width: 100%;
   height: 35rem;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   justify-self: center;
   
}

#home-news .home-news-col .home-news-img-1 {
   background-image: url(/img/ali-husnain-arshad-r5Ly4b13rXo-unsplash.jpg);
}

#home-news .home-news-col .home-news-img-2 {
   background-image: url(/img/nate-greno-L1yrcSE_KWc-unsplash.jpg);
}

#home-news .home-news-col .home-news-img-3 {
   background-image: url(/img/madison-lavern-4gcqRf3-f2I-unsplash.jpg);
}

#home-news .home-news-col p {
   text-align: left;
}


/* MEDIA QUERY - 768px ***************************************/
@media (min-width: 768px) {
   #home-news-container {
      display: grid;
      grid-template-columns: 74rem;
      justify-content: center;
   }
   
   #home-news {
      padding: 3rem;
   }
}

@media (min-width: 992px) {
   #home-news-container {
      grid-template-columns: 94rem;
   }
   
   #home-news {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 3rem;
   }
   
   #home-news .home-news-col {
      display: grid;
      grid-template-rows: 45rem auto auto;
      grid-gap: 3rem;
   }
   
   #home-news .home-news-col .home-news-img-1,
   #home-news .home-news-col .home-news-img-2,
   #home-news .home-news-col .home-news-img-3 {
      width: 100%;
      height: 45rem;
      
   }
}

@media (min-width: 1200px) {
   #home-news-container {
      grid-template-columns: 114rem;
   }
   
   #home-news .home-news-col {
      display: grid;
      grid-template-rows: 30rem auto auto;
      grid-gap: 3rem;
   }
   
   #home-news .home-news-col .home-news-img-1,
   #home-news .home-news-col .home-news-img-2,
   #home-news .home-news-col .home-news-img-3 {
      height: 30rem;
      
   }
}



/* PHOTO CREDITS
*************************************************/
/* .photo-credit {
   background-color: rgba(0,0,0,0.5);
   color: white;
   text-decoration: none;
   padding: 4px 6px;
   font-family: -apple-system, Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
   font-size: 6px;
   font-weight: bold;
   line-height: 1.2;
   display: inline-block;
   border-radius: 3px;
   position: relative;
   top: -2.75rem;
   right: -87vw;
}

.photo-credit span {
   display: inline-block;
   padding: 2px 3px;
}

.photo-credit svg {
   height: 8px;
   width: auto;
   position: relative;
   vertical-align: middle;
   top: -2px;
   fill: white;
}

@media (max-width: 575px) {
   .photo-credit {
      right: -81vw;
   }
}

@media (min-width: 576px) {
   .photo-credit {
      right: -82vw;
   }
}

@media (min-width: 768px) {
   .photo-credit {
      right: -86vw;
   }
}

@media (min-width: 992px) {
   .photo-credit {
      right: -89vw;
   }
}

@media (min-width: 1200px) {
   .photo-credit {
      right: -91vw;
   }
} */


/* COLORS
*************************************************/
#colors {
   color: white;
   font-size: 2rem;
   text-align: center;
   line-height: 1.5;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

#colors .color-1 {
   background-color: var(--db);
   padding: 2rem;
   box-shadow: 0 0 10px black;
}

.color-2 {
   background-color: var(--bl);
   padding: 2rem;
   box-shadow: 0 0 10px black;
}

.color-3 {
   background-color: var(--lb);
   padding: 2rem;
   box-shadow: 0 0 10px black;
}

.color-4 {
   background-color: var(--or);
   padding: 2rem;
   box-shadow: 0 0 10px black;
}

.color-5 {
   background-color: var(--lo);
   padding: 2rem;
   box-shadow: 0 0 10px black;
}


/* TEXTS
*************************************************/
#texts {
   color: white;
   background-color: var(--db);
   padding: 2rem 0 0 0;
}

#texts .text {
   padding: 2rem;
   box-shadow: 0 5px 5px rgba(0,0,0,0.75);
}


/* COLORS
*************************************************/
/* Color Theme Swatches in RGBA */
.Copy-of-yoga-blue-orange-1-rgba { color: rgba(31, 94, 126, 1); }
.Copy-of-yoga-blue-orange-2-rgba { color: rgba(83, 191, 204, 1); }
.Copy-of-yoga-blue-orange-3-rgba { color: rgba(117, 218, 229, 1); }
.Copy-of-yoga-blue-orange-4-rgba { color: rgba(252, 131, 40, 1); }
.Copy-of-yoga-blue-orange-5-rgba { color: rgba(255, 168, 104, 1); }

:root {
   --db: rgba(31, 94, 126, 1);
   --bl: rgba(83, 191, 204, 1);
   --lb: rgba(117, 218, 229, 1);
   --or: rgba(252, 131, 40, 1);
   --lo: rgba(255, 168, 104, 1);
}



/* MEDIA QUERIES - SCREEN SIZES
*************************************************/
/* 
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
*/

   
/* FONT-FACE
*************************************************/
@font-face {
   font-family: 'Aleo';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local('Aleo Regular'), local('Aleo-Regular'), url(https://fonts.gstatic.com/s/aleo/v3/c4mv1nF8G8_swA3J0R9rkoc.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

 @font-face {
   font-family: 'Aleo Bold';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: local('Aleo Bold'), local('Aleo-Bold'), url(https://fonts.gstatic.com/s/aleo/v3/c4mg1nF8G8_syLbsxDJJn61_9KI.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

 @font-face {
   font-family: 'Josefin Sans Italic';
   font-style: italic;
   font-weight: 400;
   font-display: swap;
   src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3EZQNVED7rKGKxtqIqX5EUCEx6XHgOiJM6.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }
   
